<div style="padding: 10px">
  <div class="focus-element row">
    <div class="col-1 icon-wrapper">
      <img [src]="element!.image" [alt]="element!.description"/>
    </div>
    <div class="col-auto" style="padding-right: 25px;">
      <div>
        <a href="{{element!.url}}" class="external" target="_blank" *ngIf="element?.url; else title">
          <ng-container *ngTemplateOutlet="title"></ng-container>
        </a>
        <ng-template #title>
          <span><strong>{{element!.title}}</strong></span>
        </ng-template>
        <br><span><small [class]="truncate ? 'truncate-two-lines' : ''">{{element!.description}}</small></span>
      </div>
    </div>
  </div>
</div>
