.header h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

.header p {
  font-size: 1.35rem;
  color: var(--font-color-paragraph);
}

.header p a {
  color: var(--font-color-paragraph);
}

.header p b {
  color: var(--font-color-base);
}

.header .external {
  font-size: 1.25rem;
}

.project-highlight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  border-radius: .25rem;
  padding: 1rem 1.5rem;
}

.project-highlight h3 {
  font-weight: bold;
}

.project-highlight p {
  color: var(--font-color-highlight-paragraph);
}

.project-highlight p b {
   color: var(--font-color-base);
 }
