<app-cursor [shake]="shakeSpan" #cursor></app-cursor>
<div class="row">
  <div class="section">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-12 header">
        <h2>Hi, I'm Guus <span role="img" aria-label="Emoji" (click)="shake()" #shakeSpan>👋</span></h2>
        <p>
          I am a software engineer with a focus on <b>backend systems</b> and <b>system architecture</b>. I have extensive experience designing and implementing <b>scalable</b> and <b>maintainable</b> software solutions.
          In addition to my technical skills, I also enjoy sharing my knowledge with others through <b>trainings</b> and <b>interactive workshops</b>.
          I believe that well-designed systems not only improve the user experience, but also make the development process more <b>efficient</b> and <b>enjoyable</b> for the team.
          I am always seeking new challenges and opportunities to learn and grow as a software engineer.
        </p>
        <span>
          <a class="external" href="mailto:guuslieben@xendox.com" target="_blank"><i class="fa-regular fa-paper-plane"></i> Mail</a>
          <a class="external" href="https://github.com/guuslieben" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
          <a class="external" href="https://linkedin.com/in/guuslieben" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        </span>
      </div>
      <div class="col-auto"></div>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="col-12">
        <h4>Project highlight</h4>
        <div class="project-highlight focus">
          <h3>Hartshorn</h3>
          <p>
            Since 2019 I have been working on <strong>Hartshorn</strong>, a framework for building modular applications in Java. Hartshorn is designed to be a <strong>lightweight</strong> and <strong>flexible</strong> framework that can be used to build any kind of application.
            It is capable of aiding developers while building <strong>modular</strong>, <strong>testable</strong>, and <strong>scalable</strong> applications with support for Java and other JVM languages. Over the years I have used this project to <strong>learn</strong> and <strong>experiment</strong> with new technologies and concepts.
            <br><br>
            Since then, I have set out to make Hartshorn a fully-fledged framework, with a focus on <strong>modularity</strong>, <strong>extensibility</strong>, and <strong>ease of use</strong>. Because of this goal I have set up complete workflow guidelines, together with a set of tools to aid in the development process.
            These tools include <strong>complex CI workflows</strong>, <strong>automated license and dependency validation</strong>, and custom Gradle plugins to support Java API <strong>test automation</strong>.
          </p>
          <div class="row">
            <app-focus-element class="col-lg-3 col-md-6 col-sm-12" *ngFor="let aspect of highlightAspects"
                               [truncate]="true"
                               [element]="aspect"></app-focus-element>
          </div>

          <div style="margin-top: 10px;">
            <a class="external" href="https://github.com/Dockbox-OSS/Hartshorn" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
          </div>
        </div>
      </div>
      <div class="col-auto"></div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col-12">
        <h4>Skills</h4>
        <div class="row">
          <app-focus-element class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let skill of skills"
                             [element]="skill"></app-focus-element>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col-6">
        <h4>Experience</h4>
        <app-timeline [entries]="experience"></app-timeline>
      </div>
      <div class="col-6">
        <h4>Education & Certifications</h4>
        <app-timeline [entries]="education"></app-timeline>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col-12">
        <app-project-card [cursorComponent]="cursor" [projects]="projects"></app-project-card>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col-12" style="color: #ddd">
        Copyright &copy; {{getYear()}} Guus Lieben
      </div>
    </div>
  </div>
</div>
